<!DOCTYPE html>
<html lang="en" data-ng-app="onlinePlatform" data-ng-controller="onlinePlatformCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    
    <title>Jensen Online Yrkeshögskola</title>
</head>

<body>
<!-- ÄNDRA FILEN TILL .PHP NÄR BACKEND SKA SKRIVAS -->

<ul id="main-menu">
    <li data-ng-repeat="menu in menus" id="{{menu.id}}"><a href="{{menu.URL}}.php">{{menu.title}}</a>
        <ul data-ng-if="menu.items">
            <li data-ng-repeat="subitem in menu.items"><a href="{{subitem.URL}}.php">{{subitem.title}}</a></li>
        </ul>
    </li>
</ul>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="angular/controllers.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
