@import "data";

div#administration-wrapper {
    width: 90%;
    height: $max;
    margin: $center;
    border: $thin-lightgrey;
    background: $lightgrey-gradient;
}

div#changes-feed {
    width: 20%;
    min-height: $max;
    border-left: $thin-lightgrey;
    text-align: center;
    background: $white;
}

ul.admin-nav {
    min-width: 200px;
    height: 100%;
    padding: 0 0 0 30px;
    border-right: $thin-lightgrey;
    background: $white;
}

li.admin-nav-items {
    font-size: 16px;
    font-weight: bold;
    
    &:first-child {
        margin-top: 25px;
    }
    
    a {
        @include vertAlign(30px);
        font-size: 20px;
    }
    
    @include link-colors($color: $black);
}

li.admin-sub-items {
    @include vertAlign(25px);
    font-size: 14px;
    margin-left: 10px;
    
    a {
        @include vertAlign(25px);
        font-size: 16px;
        padding-bottom: 2px;
        border-bottom: $thin-lightgrey;
    }
}

h1.feed-headers {
    font-size: 22px;
    color: $black;
}