@import "data";

div#administration-wrapper {
    position: relative;
    width: 95%;
    height: $max;
    margin: $center 100px;
    border: $thin-lightgrey;
}

div#menu-wrapper {
    width: $max - 20;
    display: table;
    border-bottom: $thin-lightgrey;
}

div#top-menu {
    position: relative;
    height: 50px;
    display: table-row;
    z-index: 1000;
}

div#search-wrapper {
    width: 20%;
    display: table-cell;
    
    form:first-child {
        position: absolute;
        margin: 11px 0 0 10px;
        padding: 0;
        
        input[type="image"] {
            top: 6px;
            right: 10px;
        }
    }
}

div#add-wrapper {
    position: relative;
    width: 15%;
    display: table-cell;
    
    label {
        font-size: 15px;
    }
}

div#sort-wrapper {
    position: relative;
    width: 25%;
    display: table-cell;
    
    label {
        font-size: 15px;
    }
}

div#btns-wrapper {
    position: relative;
    width: 40%;
    display: table-cell;
}

div.overview-nav {
    position: absolute;
    top: 9px;
    right: 10px;
    text-align: justify;
    font-size: 0.1px; //IE 9/10 fix, it doesn't like font-size: 0;
}

overview-nav:after {
    content: '';
    width: 100%;
    display: inline-block;
}

div#table-holder {
    width: 80%;
    height: -moz-calc(100% - 50px); /* Firefox */
    height: -webkit-calc(100% - 50px); /* WebKit */
    height: -o-calc(100% - 50px); /* Opera */
    height: calc(100% - 50px); /* Standard */
    overflow: auto;
    
    table {
        width: 95%;
        margin: 50px auto;
        border: $thin-lightgrey;
        
        tr:first-child {
            background: blue;
        }
        
        tr:nth-child(even) {
            background: $soft-grey;
        }
        
    }
    .small-btns {
        width: 22px;
        @include center-textY(22px);
    }
}

th.info-head {
    height: 35px;
    color: $white;
    font-size: 15px;
}

td.info-cell {
    height: 30px;
    text-align: center;
    border: $thin-lightgrey;
}

div#changes-feed {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: $max;
    border-left: $thin-lightgrey;
    background: $soft-grey;
    overflow: auto;
    
    div:first-child {
        margin-top: 9px;
    }
}

div.activity-box {
    position: relative;
    width: 95%;
    height: 130px;
    margin: $center 20px;
    border: $thin-lightgrey;
    border-radius: 5px;
    background: $white;
    font-size: 15px;
}

span.activity-header {
    position: absolute;
    top: 15px;
    left: 15px;
}

.highlight-text {
    font-weight: bold;
    //color: $dark-blue;
}

p.changes-made {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 92%;
}

.activity-box span.timestamp {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 12px;
    font-style: italic;
}

.options-dropdown {
    width: 100px;
    margin: 0;
    padding: 0;
    border: $thin-lightgrey;
    border-radius: $standard-radius;
    display: inline-block;
    font-size: 14px;
    color: $ocean-blue;
    
    &:hover {
        cursor: pointer;
    }
    
    ul {
        position: absolute;
        left: -1px;
        width: inherit;
        display: none;
        background-color: $white;
    }
    
    ul, li {
        list-style: none;
        padding: 0;
    }
}

form.dropdown-form {
    position: absolute;
    top: 8px;
    left: 0;
}

.default {
    position: relative;
    width: inherit;
    @include center-textY(32px);
    text-align: center;
    font-weight: bold;
    
    &:hover {
        background-color: $soft-grey;
    }
}

.sub-options {
    width: inherit;
    @include center-textY(32px);
    font-size: 13px;
    
    &:first-child {
        border-top: $thin-lightgrey;    
    }
    
    &:last-child {
        border-bottom-left-radius: $standard-radius;
        border-bottom-right-radius: $standard-radius;
    }
    
    &:nth-child(-n+7) {
        border-bottom: $thin-lightgrey;
        border-left: $thin-lightgrey;
        border-right: $thin-lightgrey;
    }
    
    &:hover {
        background-color: $soft-grey;
    }
}
