@import "data";

div#administration-wrapper {
    position: relative;
    width: 80%;
    height: $max;
    margin: $center;
    border: $thin-lightgrey;
    background: $lightgrey-gradient;
}

div#changes-feed {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    min-height: $max;
    border-left: $thin-lightgrey;
    text-align: center;
    background: $white;
}

div.overview-nav {
    float: right;
    margin-right: 20px;
}

div#top-menu {
    width: $max - 20;
    @include vertAlign(50px);
    border-bottom: $thin-lightgrey;
    background: $white;
    
    form {
        position: absolute;
        margin: 0 0 0 20px;
        padding: 0;
        
        input[type="image"] {
            top: 17px;
            right: 10px;
        }
    }
}











/*li.admin-sub-items {
    @include vertAlign(25px);
    font-size: 14px;
    margin-left: 10px;
    
    a {
        @include vertAlign(25px);
        font-size: 16px;
        padding-bottom: 2px;
        border-bottom: $thin-lightgrey;
    } 
}*/

/*h1.feed-headers {
    font-size: 22px;
    color: $black;
}*/