.small-btns {
  margin: 0;
  padding: 0; }

.action-buttons {
  color: #fff; }

.overview-btns, .inline-btn, .small-btns, .booking-btns {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover, .booking-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active, .booking-btns:active {
    background: linear-gradient(#fff, #efefef); }

.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.standard-label {
  font-weight: bold; }

.warning-text {
  color: red;
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

#booking-container {
  width: 100%;
  height: 100%;
  position: relative; }
  #booking-container table {
    width: 50%;
    height: 100%;
    margin: 0 auto 100px; }
    #booking-container table tr td:nth-child(6n+1) {
      border: 0;
      font-weight: bold;
      background: white;
      text-align: right;
      padding-right: 2%; }
    #booking-container table tr td, #booking-container table tr td.available {
      width: 16.66667%;
      height: 200px;
      border: 1px solid black;
      background: #8cf178; }
    #booking-container table tr td.booked {
      background: #c80d0d; }

/***** BOOKING SYSTEM *****/
#booking-container {
  width: 90%;
  margin: 0 auto; }

#days-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto 30px; }
  #days-wrapper form:first-child {
    width: 50%;
    margin: 0 auto;
    display: table; }

#day-row {
  width: 100%;
  display: table-row; }

.day-btns {
  width: 20%;
  height: 30px;
  display: table-cell;
  border: 0;
  color: #0097ef;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: none; }

.active {
  color: #fff;
  background: #000; }

#scheme-table {
  width: 100%;
  display: table;
  margin-top: 50px; }

#scheme-head {
  height: 40px; }

.scheme-row {
  width: inherit;
  display: table-row; }

.scheme-cell {
  position: relative;
  width: 10%;
  display: table-cell;
  background: linear-gradient(#fff, #efefef);
  box-sizing: border-box;
  border: 2px solid #fff; }

#scheme-date {
  border: 0;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background: #000; }

.scheme-classroom {
  width: 11%;
  line-height: 90px;
  border: #003b65;
  border-right: 2px solid #fff;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #000; }

.scheme-time {
  line-height: 40px;
  border: 0;
  text-align: center;
  color: #fff;
  background: #000;
  font-size: 15px; }

.subject {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 15px;
  font-weight: bold; }

.booked-by {
  position: absolute;
  top: 35px;
  left: 20px;
  font-size: 14px;
  color: #0097ef; }

#scheme-footer {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 20px 0 0;
  box-sizing: padding-box; }

#book-wrapper {
  position: absolute;
  right: 80px;
  display: inline-block; }

#course-label {
  display: none;
  font-weight: bold; }

#cancel-wrapper {
  position: absolute;
  right: 10px;
  display: inline-block; }

.booking-btns {
  height: 30px;
  line-height: 30px;
  font-weight: bold; }
  .booking-btns img {
    margin: 0 5px -3px; }

#book {
  margin-right: 22px; }

.marked-cell {
  background: #afafaf; }

#selects-wrapper {
  position: absolute;
  right: 0; }

.dropdown-selects {
  height: 30px;
  font-weight: bold; }

#show-week {
  height: 30px;
  font-weight: bold;
  background: linear-gradient(#4fef00, #3db700); }

/*# sourceMappingURL=booking.css.map */
