@import "data";

/***** BOOKING SYSTEM *****/

#booking-app-wrapper {
    width: $max - 10;
    margin: $center;
}

#days-nav-wrapper {
    position: relative;
    width: $max;
    margin: $center 30px;
}

#days-nav {
    width: $max - 50;
    margin: $center;
    display: table;
}

#days-nav-form {
    display: table-row;
}

.day-btns {
    width: 20%;
    height: 30px;
    display: table-cell;
    border: 0;
    background: none;
    font-size: 20px;
}

.active {
    color: $white !important;
    background: $black;
}

#scheme-table {
    width: $max;
    display: table;
    margin-top: 50px;
}

#scheme-head {
    height: 40px;
}

.scheme-row {
    width: inherit;
    display: table-row;
}

.scheme-cell {
    position: relative;
    width: 10%;
    display: table-cell;
    background: $white-gradient;
    box-sizing: border-box;
    border: 2px solid $white;
}

#scheme-date {
    border: 0;
    font-weight: bold;
    font-size: 18px;
    @include standardStyle($color: $black);
}

.scheme-classroom {
    width: 11%;
    line-height: 90px;
    border: $dark-blue;
    border-right: 2px solid $white;
    font-weight: bold;
    @include standardStyle($color: $black);
}

.scheme-time {
    line-height: 40px;
    border: 0;
    @include standardStyle($color: $black);
    font-size: 15px;
}

.subject {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 15px;
    font-weight: bold;
}

.booked-by {
    position: absolute;
    top: 35px;
    left: 20px;
    font-size: 14px;
    color: $ocean-blue;
}

#scheme-footer {
    position: relative;
    width: $max;
    @include center-textY(40px);
    margin: 20px 0 0;
    box-sizing: padding-box;
}

#book-wrapper {
    float: right;
}

#course-label {
    display: none;
    font-weight: bold;
    float: left;
    margin-top: -2px;
}

#cancel-wrapper {
    float: right;
    margin-left: 5px;
}

.action-btn {
    @include center-textY(30px);
    @include common-btn;
    margin: 0;
    
    img {
        margin: 0 0 -5px 5px;
    }
}

#book {
    margin: 3px 0 0 5px;
    float: right;
    
    img {
        margin: 0 0 -2px 5px;
    }
}

#cancel-booking {
    display: inline-block;
}

.marked-cell {
    background: #afafaf;
}

.dropdown-select {
    height: 30px;
    border-radius: $standard-radius;
}

#booking-title-input {
    height: 30px;
    margin: 3px 0 0 5px;
    padding: 0;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    box-sizing: border-box;
    display: none;
    float: left;
}