@import "data";

#booking-container {
    width: $max;
    height: 100%;
    position: relative;
    
    table {
        width: 50%;
        height: 100%;
        margin: $center 100px;
        
        tr {
            
            td:nth-child(6n+1) {
                border: 0;
                font-weight: bold;
                background: white;
                text-align: right;
                padding-right: 2%;
            }
            
            td, td.available {
                width: $max / 6;
                height: 200px;
                border: 1px solid black;
                background: #8cf178;
            }
            
            td.booked {
                background: #c80d0d;
            }
        }
    }
}

/***** BOOKING SYSTEM *****/

#booking-container {
    width: $max - 10;
    margin: $center;
}

#days-wrapper {
    position: relative;
    width: $max;
    margin: $center 30px;
    
    form:first-child {
        width: $max - 50;
        margin: $center;
        display: table;
    }
}

#day-row {
    width: 100%;
    display: table-row;
}

.day-btns {
    width: 20%;
    height: 30px;
    display: table-cell;
    border: 0;
    color: $dark-blue;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: none;
}

.active {
    color: $white;
    background: $dark-blue;
}

#scheme-table {
    width: $max;
    display: table;
    margin-top: 50px;
}

#scheme-head {
    height: 40px;
}

.scheme-row {
    width: inherit;
    display: table-row;
}

.scheme-cell {
    position: relative;
    width: 10%;
    display: table-cell;
    background-color: $soft-grey;
    box-sizing: border-box;
    border: 2px solid $white;
}

#scheme-date {
    border: 0;
    font-weight: bold;
    font-size: 18px;
    @include standardStyle($color: $dark-blue);
}

.scheme-classroom {
    width: 11%;
    line-height: 90px;
    border: $dark-blue;
    border-right: 2px solid $white;
    font-weight: bold;
    @include standardStyle($color: $dark-blue);
}

.scheme-time {
    line-height: 40px;
    border: 0;
    @include standardStyle($color: $dark-blue);
    font-size: 15px;
}

.subject {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 15px;
}

.booked-by {
    position: absolute;
    top: 35px;
    left: 20px;
    font-size: 14px;
}

#scheme-footer {
    position: relative;
    width: $max;
    @include vertAlign(40px);
    margin: 20px 0 0;
    box-sizing: padding-box;
}

#book-wrapper {
    position: absolute;
    right: 80px;
    display: inline-block;
}

#course-label {
    display: none;
    font-weight: bold;
}

#classSubject {
    height: 24px;
    display: none;
}

#wholeDayBox {
    height: 24px;
    display: none;
}

#cancel-wrapper {
    position: absolute;
    right: 10px;
    display: inline-block;
}

.booking-btns {
    height: 30px;
    border-radius: 3px;
    border: none;
    color: $white;
}

#book {
    background: $green-gradient;
}

#cancel-booking {
    background: $red-gradient;
}

.marked-cell {
    background: #afafaf;
}

#selects-wrapper {
    position: absolute;
    right: 0;
}

.dropdown-selects {
    height: 30px;
    font-weight: bold;
}

#show-week {
    height: 30px;
    font-weight: bold;
    background: $green-gradient;
}