.small-btns {
  margin: 0;
  padding: 0; }

.action-buttons {
  color: #fff; }

.overview-btns, .inline-btn, .small-btns {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active {
    background: linear-gradient(#fff, #efefef); }

.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.green-button {
  background: linear-gradient(#4fef00, #3db700); }

.red-button {
  background: linear-gradient(#ff0a0a, #d10000); }

.orange-button {
  background: linear-gradient(#ffba19, #ff7119); }

.standard-label {
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

#deleteButton {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 24px;
  font-weight: bold;
  background: linear-gradient(#ff0a0a, #d10000);
  color: #fff;
  border: 0;
  border-radius: 3px; }

#calendar-header {
  width: 84%;
  margin: 0 8% 20px;
  position: relative; }
  #calendar-header button:nth-child(3) {
    height: 24px;
    font-weight: bold;
    background: linear-gradient(#4fef00, #3db700);
    color: #fff;
    border: 0;
    border-radius: 3px; }

#pop-up {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 30%;
  height: 300px;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  background: #003b65;
  color: #fff;
  border-radius: 15px; }
  #pop-up span {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer; }
  #pop-up table {
    margin: 40px auto; }
    #pop-up table tbody tr:nth-child(5) td {
      text-align: center; }
  #pop-up td:nth-child(2n+1) {
    text-align: right;
    font-size: 15px; }
  #pop-up input {
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
    color: black; }
  #pop-up label {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 5px; }
  #pop-up h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.9em; }
  #pop-up #button {
    background: linear-gradient(white, #c9c9c9);
    margin-top: 30px;
    width: 100px;
    min-height: 30px;
    cursor: pointer;
    font-weight: bold; }

#calendar-container {
  max-width: 84%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 1px; }
  #calendar-container table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse; }
    #calendar-container table:last-child {
      margin-bottom: 150px; }
  #calendar-container td {
    width: 10%;
    height: 130px;
    border: 1px solid black;
    position: relative;
    background: #f9f9f9; }
    #calendar-container td span:nth-child(1) {
      font-size: 2.3em;
      position: absolute;
      left: 5px;
      top: 0;
      font-weight: normal;
      color: #003b65; }
    #calendar-container td p {
      position: absolute;
      left: 10px;
      font-size: 1.1em; }
      #calendar-container td p:nth-child(4) {
        top: 30px; }
      #calendar-container td p:nth-child(5) {
        top: 50px; }
      #calendar-container td p:nth-child(6) {
        top: 70px; }
      #calendar-container td p:nth-child(7) {
        top: 90px; }
    #calendar-container td button {
      width: auto;
      height: 20px;
      background: none;
      border: 0;
      font-size: 0.8em;
      position: absolute;
      right: 5px;
      top: 22px;
      font-weight: bold; }
      #calendar-container td button:hover {
        color: #1ca0b4;
        cursor: pointer; }
      #calendar-container td button:nth-child(2) {
        top: 5px; }
  #calendar-container #btt {
    position: absolute;
    bottom: 30px;
    right: 20px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(#ffba19, #ff7119);
    color: #fff;
    border: 0;
    border-radius: 3px; }
  #calendar-container h1 {
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #003b65; }
  #calendar-container button {
    color: #003b65; }
    #calendar-container button:focus {
      outline: 0; }
  #calendar-container input:focus {
    outline: 0; }

/*# sourceMappingURL=calendar.css.map */
