@import "data";


//THIS NEEDS TO BE CLEARED UP AND REWRITTEN
#deleteButton {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 24px;
    font-weight: bold;
    background: $red-gradient;
    color: $white;
    border: 0;
    border-radius: $standard-radius;
}

#calendar-header {
    width: 84%;
    margin: 0 8% 20px;
    position: relative;
    
    button:nth-child(3) {
        height: 24px;
        font-weight: bold;
        background: $green-gradient;
        color: $white;
        border: 0;
        border-radius: $standard-radius;
    }
}

#pop-up {
        @include center($top: 40%);
        width: 30%;
        height: 300px;
        position: fixed;
        visibility: hidden;
        z-index: 1;
        background: $dark-blue;
        color: $white;
        border-radius: 15px;
        
        span {
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
            cursor: pointer;
        }
    
        table {
            margin: 40px auto;
            
            tbody {
                tr:nth-child(5) {
                    td {
                        text-align: center;
                    }
                }
            }
        }
        
        td:nth-child(2n+1) {
            text-align: right;
            font-size: $small-font;
        }
        
        input {
            height: 20px;
            border: 1px solid black;
            border-radius: 2px;
            color: black;
        }
        
        label {
            font-size: 1.3em;
            font-weight: bold;
            margin-right: 5px;
        }
        
        h2 {
            text-align: center;
            margin-top: 30px;
            font-size: 1.9em;
        }
    
        #button {
            background: linear-gradient(white, #c9c9c9);
            margin-top: 30px;
            width: 100px;
            min-height: 30px;
            cursor: pointer;
            font-weight: bold;
        }
}

#calendar-container {
    max-width: $max - 16;
    margin: 0 auto;
    position: relative;
    padding-bottom: 1px;
    
    table {
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        
        &:last-child {
            margin-bottom: 150px;
        }
    }
    
    td {
        width: $max - 90;
        height: 130px;
        border: 1px solid black;
        position: relative;
        background: #f9f9f9;
        
        span:nth-child(1) {
            font-size: 2.3em;
            position: absolute;
            left: 5px;
            top: 0;
            font-weight: normal;
            color: $dark-blue;
        }
        
        p {
            position: absolute;
            left: 10px;
            font-size: 1.1em;
            
            @mixin paraTop($top, $child) {
                
                &:nth-child(#{$child}) {
                    top: $top;   
                }
            }
            
            @include paraTop($top: 30px, $child: 4);
            @include paraTop($top: 50px, $child: 5);
            @include paraTop($top: 70px, $child: 6);
            @include paraTop($top: 90px, $child: 7);
        }
        
        button {
            width: auto;
            height: 20px;
            background: none;
            border: 0;
            font-size: 0.8em;
            position: absolute;
            right: 5px;
            top: 22px;
            font-weight: bold;
            
            &:hover {
                color: #1ca0b4;
                cursor: pointer;
            }
            
            &:nth-child(2) {
                top: 5px;
            }
        }
    }
    
    #btt {
        position: absolute;
        bottom: 30px;
        right: 20px;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        cursor: pointer;
        font-weight: bold;
        background: $orange-gradient;
        color: $white;
        border: 0;
        border-radius: $standard-radius;
    }
    
    h1 {
        font-size: 3em;
        margin-top: 30px;
        margin-bottom: 40px;
        color: $dark-blue;
    }
    
    button {
        color: $dark-blue;
        
        &:focus {
            outline: 0;
        }
    }
    
    input {
        
        &:focus {
            outline: 0;
        }
    }
}