//Colors
$white: #fff;
$black: #000;
$soft-grey: #f7f7f7;
$dark-blue: #003b65;
$light-blue: #38b6ff;
$ocean-blue: #0097ef;

//Gradient colors
$green-gradient: linear-gradient(#4fef00, #3db700);
$red-gradient: linear-gradient(#ff0a0a, #d10000);
$blue-gradient: linear-gradient($ocean-blue, $dark-blue);
$rev-blue-gradient: linear-gradient($dark-blue, $ocean-blue);
$orange-gradient: linear-gradient(#ffba19, #ff7119);
$lightgrey-gradient: linear-gradient(#f9f9f9, #ffffff);
$white-gradient: linear-gradient(#fff, #efefef);

//Borders
$thin-solid: 1px solid;
$thin-black: $thin-solid #000;
$thin-lightgrey: $thin-solid #D3D3D3;

//Measurements
$max: 100%;

//Font styles
$small-font: 15px;
$big-font: 20px;
$fontFamily: Arial, sans-serif;

//Other
$center: 0 auto;
$standard-radius: 3px;

//Placeholders
%no-margins {
    margin: 0;
    padding: 0;
}

%white-text {
    color: $white;
}

%center-element {
    margin: $center;
}

%placeholderStyles {
    
    ::-webkit-input-placeholder { /* WebKit browsers */
        padding-left: 5px;
        font-size: 15px;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #909;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #909;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #909;
    }
}

%btn-props {
    border-radius: $standard-radius;
    border: $thin-lightgrey;
    background: $white-gradient;
    outline: 0;
    
    &:hover {
        background: $lightgrey-gradient;
    }
    
    &:active {
        background: $white-gradient;
    }
}

//Mixins
@mixin vertAlign($height) {
    height: $height;
    line-height: $height;
}

@mixin center($top: 50%) {
    position: absolute;
    top: $top;
    left: $max - 50;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

@mixin link-colors($color: #000, $decoration: none, $hover-color: null) {
    
    @if $hover-color == null {
        a {
            text-decoration: $decoration;
    
            &:link, &:visited, &:focus, &:hover, &:active {
                color: $color; 
            }
        }
    }
    @else {
        a {
            text-decoration: $decoration;
    
            &:link, &:visited, &:focus, &:active {
                color: $color; 
            }
            
            &:hover {
                color: $hover-color;
            }
        }
    }  
}

@mixin standardStyle($color) {
    text-align: center;
    color: $white;
    background: $color;
}

//Button classes
.action-buttons {
    height: 24px;
    padding: 0 10px;
    border: 0;
    border-radius: $standard-radius;
    @extend %white-text;
    font-weight: bold;
    cursor: pointer;
}

.small-btns {
    width: 26px;
    @include vertAlign(26px);
    @extend %no-margins;
    @extend %btn-props;
    
    &:hover {
        background: $lightgrey-gradient;
    }
    
    &:active {
        background: $white-gradient;
    }
    
    img {
        margin: -2px -1px;
    }
}

.green-button {
    background: $green-gradient;
}

.red-button {
    background: $red-gradient;
}

.orange-button {
    background: $orange-gradient;
}

//Label classes
.standard-label {
    font-weight: bold;
}

//General classes
.clearfix {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.border-box {
    box-sizing: border-box;
}

.padding-box {
    box-sizing: padding-box;
}

.hide-element {
    display: none;
}

.nav {
    padding: 0;
    list-style: none;
    font-size: 0; //Needs to be resetted in the list items with 16px
}