//Colors
$white: #fff;
$black: #000;
$soft-grey: #f7f7f7;
$hard-grey: #D3D3D3;
$dark-blue: #003b65;
$light-blue: #38b6ff;
$ocean-blue: #0097ef;
$notes-yellow: #f5f293;
$notes-brown: #ab5839;
$dark-brown: #3f2b26;
$light-brown: #7d574a;

//Gradient colors
$lightgrey-gradient: linear-gradient(#f9f9f9, #ffffff);
$white-gradient: linear-gradient(#fff, #efefef);
$brown-gradient: linear-gradient($light-brown, $dark-brown);
$rev-brown-gradient: linear-gradient($dark-brown, $light-brown);

//Borders
$thin-solid: 1px solid;
$thin-black: $thin-solid $black;
$thin-lightgrey: $thin-solid $hard-grey;
$thin-grey: $thin-solid grey;
$thin-darkbrown: $thin-solid $dark-brown;

//Measurements
$max: 100%;

//Font styles
$fontFamily: Arial, sans-serif;

//Other
$center: 0 auto;
$standard-radius: 3px;
$li-margin: 3px;

//Placeholders
%reset {
    margin: 0;
    padding: 0;
}

%placeholderStyles {
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: $black;
        padding-left: 5px;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $black;
        padding-left: 5px;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $black;
        padding-left: 5px;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $black;
    }
}

//Mixins

@mixin common-btn($bg-color: $white-gradient, $h-color: $lightgrey-gradient, $border: $thin-lightgrey) {
    
    border-radius: $standard-radius;
    border: $border;
    outline: 0;
    background: $white-gradient;
    box-shadow: 1px 1px 3px rgba(0,0,0,.15);
    
    &:hover {
        background: $h-color;
    }
    
    &:active {
        background: $bg-color;
    }
}

@mixin center-textY($height) {
    height: $height;
    line-height: $height;
}

@mixin centerXY($top: 50%, $left: 50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

@mixin centerY($top: 50%) {
    position: absolute;
    top: $top;
    transform: translateY(-50%);
}

@mixin semantic-inheritance($height: null) {
    width: 100%;
    height: $height;
    @extend %reset;
}

@mixin link-colors($color: #000, $decoration: none, $hover-color: null) {
    
    @if $hover-color == null {
        a {
            text-decoration: $decoration;
    
            &:link, &:visited, &:focus, &:hover, &:active {
                color: $color; 
            }
        }
    }
    @else {
        a {
            text-decoration: $decoration;
    
            &:link, &:visited, &:focus, &:active {
                color: $color; 
            }
            
            &:hover {
                color: $hover-color;
            }
        }
    }  
}

@mixin standardStyle($color) {
    text-align: center;
    color: $white;
    background: $color;
}

@mixin placeholderColor($col: $black) {
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: $col;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: $col;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: $col;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: $col;
    }
}

@mixin smoothEdges($topLeft: null, $topRight: null, $bottomLeft: null, $bottomRight: null) {
    @if ($topLeft != null) { border-top-left-radius: $topLeft; }
    @if ($topRight != null) { border-top-right-radius: $topRight; }
    @if ($bottomLeft != null) { border-bottom-left-radius: $bottomLeft; }
    @if ($bottomRight != null) { border-bottom-right-radius: $bottomRight; }
}

//Fonts
@font-face {
    font-family: notesworthy;
    font-weight: bold;
    src: url("../fonts/Noteworthy-Bold.otf") format("opentype");
}

//Button classes
.action-buttons {
    height: 24px;
    padding: 0 10px;
    border: 0;
    border-radius: $standard-radius;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.overview-btns {
    position: relative;
    width: 32px;
    @include center-textY(32px);
    margin-left: 3px;
    padding: 0;
    display: inline-block;
    @include common-btn;
    
    img {
        margin: 3px 0 0;
    }
}

.inline-btn {
    width: auto;
    @include center-textY(32px);
    margin-right: 10px;
    padding: 1px 5px;
    display: inline-block;
    @include common-btn;
    font-size: 16px;
    font-weight: bold;
    
    @include link-colors($ocean-blue);
    
    &:nth-child(4) {
        
        img {
            margin-bottom: 0px;
        }
    }
    
    img {
        width: 16px;
        height: 16px;
        margin: -2px 0;
    }
    
    span {
        padding: 2px 6px;
        border-radius: 12px;
        color: $white;
    }
    
    &:after {
        content: '';
        width: 100%;
        display: inline-block;
    }
}

.small-btns {
    width: 26px;
    @include center-textY(26px);
    @extend %reset;
    @include common-btn;
    
    img {
        margin: -2px -1px;
    }
}

.searchfield {
    width: 200px;
    height: 26px;
    padding: 0 0 0 10px;
    border: $thin-lightgrey;
    border-radius: $standard-radius;
    outline: 0;
}

.searchfield-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 16px;
    height: 16px;
    outline: 0;
}

//Label classes
.standard-label {
    font-weight: bold;
}

//text classes 

.warning-text {
    color: red;
    font-weight: bold;
}

//General classes
.content {
    @extend html;
}

.selects-wrapper {
    position: absolute;
    right: 0;
    height: 30px;
    line-height: 30px;
    
    select {
        margin-right: 5px;
    }
}

//Treat semantic markup as if it wasn't there
.ignore-markup {
    @include semantic-inheritance;
}

.text-thick {
    font-weight: bold;
}

.clearfix {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.border-box {
    box-sizing: border-box;
}

.hide-element {
    display: none;
}

.nav {
    @extend %reset;
    list-style: none;
    text-align: center;
    font-size: 0; //Needs to re-initiated to the wanted font size
}

.ui-box-shadow {
    box-shadow: 1px 1px 3px rgba(0,0,0,.15);
}