/***** INBOX.PHP, SENDMSG.PHP, READMSG.PHP, REMOVED.PHP, SENT.PHP *****/

@import "data";

/***** MAIN CONTENT -> TEMPLATE STYLES *****/

.msg-container {
    position: relative;
    width: $max - 40;
    height: 100%;
    margin: $center;
    padding: 1% 5% 0;
    border-left: $thin-lightgrey;
    border-right: $thin-lightgrey;
    border-top: $thin-lightgrey;
}

#msg-menu-container {
    margin-bottom: 40px;
}

#btn-menu-wrapper {
    font-size: 0.1px;
    text-align: justify;
}

/***** MAIN CONTENT -> SEND MESSAGE FORM *****/

#send-msg-form {
    width: $max;
    margin: $center;
    
    table {
        width: inherit;
    }
    
    td.space-down {
        padding-bottom: 10px;
    }
    
    td.labels {
        width: 5%;
        @include vertAlign($height: 25px);
        padding-right: 5px;
        text-align: right;
        font-weight: bold;
    }
    
    td.column-two {
        width: $max - 5;
    }
    
    .input {
        width: 40%;
        height: 20px;
    }
    
    #message-area {
        width: $max;
        height: 380px;
    }
    
    #send-msg-btn {
        height: 25px;
        margin-top: 20px;
        font-weight: bold;
    }
}

/***** MAIN CONTENT -> INBOX SECTION *****/

#inbox-container {
    width: $max;
    height: $max;
    margin: $center;
    padding: 5px;
    border-left: $thin-lightgrey;
    border-right: $thin-lightgrey;
    border-top: $thin-lightgrey;
    
    @include link-colors($color: $dark-blue);
}