/***** INBOX.PHP, SENDMSG.PHP, READMSG.PHP, REMOVED.PHP, SENT.PHP *****/

/***** MAIN CONTENT -> TEMPLATE STYLES *****/

.msg-container {
    position: relative;
    width: $max - 40;
    height: 100%;
    margin: $center;
    padding: 1% 5% 0;
    border-left: $thin-lightgrey;
    border-right: $thin-lightgrey;
    border-top: $thin-lightgrey;
}

#msg-menu-container {
    margin-bottom: 40px;
    border-bottom: $thin-lightgrey;
}

#msg-menu {
    width: $max - 50;
    margin: 0;
    padding: 0;
    display: table;
    list-style: none;
}

.msg-items {
    width: auto;
    @include vertAlign(35px);
    margin: 0;
    padding: 0 2.5%;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    
    @include link-colors($color: $dark-blue);
    
    &:first-child {
        border-left: $thin-lightgrey;
    }
    
    &:hover {
        background: $soft-grey;
    }
}

/***** MAIN CONTENT -> SEND MESSAGE FORM *****/

#send-msg-form {
    width: $max;
    margin: $center;
    
    table {
        width: inherit;
    }
    
    td.space-down {
        padding-bottom: 10px;
    }
    
    td.labels {
        width: 5%;
        @include vertAlign($height: 25px);
        padding-right: 5px;
        text-align: right;
        font-weight: bold;
    }
    
    td.column-two {
        width: $max - 5;
    }
    
    .input {
        width: 40%;
        height: 20px;
    }
    
    #message-area {
        width: $max;
        height: 380px;
    }
    
    #send-msg-btn {
        height: 25px;
        font-weight: bold;
    }
}

/***** MAIN CONTENT -> INBOX SECTION *****/

#inbox-container {
    width: $max;
    height: $max;
    margin: $center;
    border: $thin-lightgrey;
    
    @include link-colors($color: $dark-blue);
}