/* To watch the files: sass --watch style.scss:style.css */

/***** IMPORTED FILES *****/

@import "data";
@import "administration";
@import "booking";
//@import "calendar"; //Under scrutiny
@import "login";
@import "messages";
@import "notes";
@import "survey";
@import "ch_style.css";

/***** GLOBAL STYLES *****/

html {
    height: $max;
}

body {
    @extend %reset;
    @extend html;
    width: $max;
    font-family: $fontFamily;
    color: $black;
}

.company-text, #current-user, .day-btns {
    color: $ocean-blue;
}

/***** HEADER *****/

#header-wrapper {
    position: relative;
    height: 200px;
}

/***** HEADER -> LOGO SECTION *****/

.company-text {
    position: absolute;
    left: 13%;
}

#company-logo {
    @include centerY;
    left: 3%;
    width: 8.5%;
    max-height: 80%;
}

#company-name {
    top: 40%; 
    font-size: 38px;
    text-shadow: 1.5px 1.5px $dark-blue;
}

#company-slogan {
    top: 65%;
    font-size: 22px;
}

/***** HEADER -> SITE SEARCH AND LOGOUT SECTION *****/

#greetings-text {
    position: absolute;
    right: 60px;
    top: 20px;
}

#current-user {
    margin: 0 5px;
}

#logout {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 34px;
    height: 34px;
    @include common-btn;
}

#global-search-form {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

/***** HEADER -> MAIN MENU SECTION *****/

#main-nav {
    margin: 0 0 60px;
    padding: 0;
    box-sizing: border-box;
    border-top: $thin-lightgrey;
    border-bottom: $thin-lightgrey;
    background: $lightgrey-gradient;
    font-size: 16px;
}

.main-nav-items {
    position: relative;
    width: ($max / 8);
    @include center-textY(40px);
    display: inline-block;
    margin-top: 4px; //Allow some space for taller icons
    
    @include link-colors($color: $ocean-blue, $hover-color: $black);
    
    img {
        margin-bottom: -2px;    
    }
}

.dropdown-nav {
    position: absolute;
    width: $max;
    @extend %reset;
    display: none;
    box-sizing: border-box;
    border: $thin-lightgrey;
    background: $lightgrey-gradient;
    z-index: 9999;
}

.dropdown-items {
    @include center-textY(25px);
    display: block;
    text-align: left;
    font-size: 13px;
    padding-left: 5%;
    border-bottom: $thin-lightgrey;
    
    &:last-child {
        border-bottom: 0;    
    }
}

/***** END OF HEADER *****/
