/* To watch the files: sass --watch style.scss:style.css */

/***** IMPORTED FILES *****/

@import "data";
@import "administration";
@import "booking";
@import "calendar";
@import "login";
@import "messages";
@import "survey";

/***** GENERAL STYLES *****/

html {
    height: $max;
}

body {
    @extend %no-margins;
    @extend html;
    width: $max;
    font-family: $fontFamily;
}

main {
    @extend html;
}

/***** HEADER *****/

#site-header {
    position: relative;
    width: 100%;
    height: 160px;
    margin: 0;
}

/***** HEADER -> LOGO SECTION *****/

#school-logo {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 8.5%;
    height: 90%;
}

.logo-text {
    position: absolute;
    left: 15%;
    color: $dark-blue;
}

#school-name {
    top: 40%; 
    font-size: 38px;
    font-weight: bold;
}

#slogan {
    top: 68%;
    font-size: 1.4em;
}

/***** HEADER -> SITE SEARCH AND LOGOUT SECTION *****/

#search-form {
    position: absolute;
    top: 50px;
    right: 140px;
}

#search-input {
    width: 250px;
    height: 26px;
    padding: 0 0 0 10px;
    border: $thin-black;
    border-radius: 3px;
}

#dropdown-container {
    position: relative;
    width: 260px;
    max-height: 300px;
    display: none;
    border-right: $thin-black;
    border-left: $thin-black;
    background: linear-gradient(white, #f2f2f2);
    z-index: 9999;
}

#matches-list {
    @extend %no-margins;
    list-style: none;
}
                       
.search-matches {
    width: inherit;
    @include vertAlign(30px);
    padding-left: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

span#current-user {
    position: absolute;
    right: 50px;
    top: 20px;
    color: $dark-blue;
    font-weight: bold;
    
    span {
        color: $ocean-blue;
    }
}

#logout {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 80px;
    height: 28px;
    border: none;
    border-radius: 3px;
    background: $orange-gradient;
    color: $white;
    font-weight: bold;
    font-size: $small-font;
    cursor: pointer;
}

/***** HEADER -> MAIN MENU SECTION *****/

#main-nav {
    margin: 20px 0 60px;
    padding: 0;
    list-style: none;
    
    @include link-colors($color: white);
}

.nav-items {
    position: relative;
    width: ($max / 8);
    @include vertAlign(40px);
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background: $blue-gradient;
}

#dropdown-nav {
    position: absolute;
    width: $max;
    @extend %no-margins;
    display: none;
    background: $dark-blue;
    z-index: 500;
}

.dropdown-items {
    @include vertAlign(25px);
    width: $max - 10;
    display: block;
    text-align: left;
    font-size: 13px;
    padding-left: 5%;
    
    span {
        padding: 2px 6px;
        border-radius: 12px;
        box-sizing: padding-box;
        color: $white;
        background: $green-gradient;
    }
}

/***** END OF HEADER *****/

/***** MAIN CONTENT *****/






