/* To watch the files: sass --watch style.scss:style.css */

/***** IMPORTED FILES *****/

@import "data";
@import "administration";
@import "booking";
@import "calendar";
@import "login";
@import "messages";
@import "survey";

/***** GENERAL STYLES *****/

html {
    height: $max;
}

body {
    @extend %no-margins;
    @extend html;
    width: $max;
    font-family: $fontFamily;
}

main {
    @extend html;
}

/***** HEADER *****/

#site-header {
    position: relative;
    width: 100%;
    height: 160px;
    margin: 0;
}

/***** HEADER -> LOGO SECTION *****/

#school-logo {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 8.5%;
    height: 90%;
}

.logo-text {
    position: absolute;
    left: 15%;
    color: $dark-blue;
}

#school-name {
    top: 40%; 
    font-size: 38px;
    font-weight: bold;
}

#slogan {
    top: 68%;
    font-size: 1.4em;
}

/***** HEADER -> SITE SEARCH AND LOGOUT SECTION *****/

#search-form {
    position: absolute;
    top: 140px;
    right: 15px;
}

#search-input {
    width: 200px;
    height: 26px;
    padding: 0 0 0 10px;
    border: $thin-lightgrey;
    border-radius: $standard-radius;
    outline: 0;
}

#site-search-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 16px;
    height: 16px;
    outline: 0;
}

span#current-user {
    position: absolute;
    right: 60px;
    top: 20px;
    color: $dark-blue;
    font-weight: bold;
    
    img {
        margin-left: 7px;
    }
    
    span {
        margin-left: 5px;
        color: $ocean-blue;
    }
}

#logout {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 34px;
    height: 34px;
    @extend %btn-props;
    
    img {
        margin: 2px 0 0;
    }
}

/***** HEADER -> MAIN MENU SECTION *****/

#main-nav {
    margin: 20px 0 60px;
    padding: 0;
    list-style: none;
    
    @include link-colors($color: white);
}

.nav-items {
    position: relative;
    width: ($max / 8);
    @include vertAlign(40px);
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background: $blue-gradient;
}

#dropdown-nav {
    position: absolute;
    width: $max;
    @extend %no-margins;
    display: none;
    background: $dark-blue;
    z-index: 500;
}

.dropdown-items {
    @include vertAlign(25px);
    width: $max - 10;
    display: block;
    text-align: left;
    font-size: 13px;
    padding-left: 5%;
    
    span {
        padding: 2px 6px;
        border-radius: 12px;
        box-sizing: padding-box;
        color: $white;
        background: $green-gradient;
    }
}

/***** END OF HEADER *****/

/***** MAIN CONTENT *****/






