/* To watch the files: sass --watch style.scss:style.css */
/***** IMPORTED FILES *****/
@import url(ch_style.css);
.small-btns, body, .dropdown-nav {
  margin: 0;
  padding: 0; }

.action-buttons, #survey-wrapper button, #survey-wrapper input[type="submit"] {
  color: #fff; }

#survey-list-wrapper {
  margin: 0 auto; }

#survey-wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 5px;
  font-size: 15px; }
#survey-wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1; }
#survey-wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909;
  opacity: 1; }
#survey-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909; }

.overview-btns, .inline-btn, .small-btns, .booking-btns, #delete-all-btn, #show-btn, #calendar-container #scroll-top-btn, #save-survey-btn, #logout {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover, .booking-btns:hover, #delete-all-btn:hover, #show-btn:hover, #calendar-container #scroll-top-btn:hover, #save-survey-btn:hover, #logout:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active, .booking-btns:active, #delete-all-btn:active, #show-btn:active, #calendar-container #scroll-top-btn:active, #save-survey-btn:active, #logout:active {
    background: linear-gradient(#fff, #efefef); }

@font-face {
  font-family: notesworthy;
  font-weight: bold;
  src: url("../fonts/Noteworthy-Bold.otf") format("opentype"); }
.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.standard-label {
  font-weight: bold; }

.warning-text {
  color: red;
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

.small-btns, body, .dropdown-nav {
  margin: 0;
  padding: 0; }

.action-buttons, #survey-wrapper button, #survey-wrapper input[type="submit"] {
  color: #fff; }

#survey-list-wrapper {
  margin: 0 auto; }

#survey-wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 5px;
  font-size: 15px; }
#survey-wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1; }
#survey-wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909;
  opacity: 1; }
#survey-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909; }

.overview-btns, .inline-btn, .small-btns, .booking-btns, #delete-all-btn, #show-btn, #calendar-container #scroll-top-btn, #save-survey-btn, #logout {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover, .booking-btns:hover, #delete-all-btn:hover, #show-btn:hover, #calendar-container #scroll-top-btn:hover, #save-survey-btn:hover, #logout:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active, .booking-btns:active, #delete-all-btn:active, #show-btn:active, #calendar-container #scroll-top-btn:active, #save-survey-btn:active, #logout:active {
    background: linear-gradient(#fff, #efefef); }

@font-face {
  font-family: notesworthy;
  font-weight: bold;
  src: url("../fonts/Noteworthy-Bold.otf") format("opentype"); }
.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.standard-label {
  font-weight: bold; }

.warning-text {
  color: red;
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

div#administration-wrapper {
  position: relative;
  width: 95%;
  height: 100%;
  margin: 0 auto 100px;
  border: 1px solid #D3D3D3; }

div#menu-wrapper {
  width: 80%;
  display: table;
  border-bottom: 1px solid #D3D3D3; }

div#top-menu {
  position: relative;
  height: 50px;
  display: table-row;
  z-index: 1000; }

div#search-wrapper {
  width: 20%;
  display: table-cell; }
  div#search-wrapper form:first-child {
    position: absolute;
    margin: 11px 0 0 10px;
    padding: 0; }
    div#search-wrapper form:first-child input[type="image"] {
      top: 6px;
      right: 10px; }

div#add-wrapper {
  position: relative;
  width: 15%;
  display: table-cell; }
  div#add-wrapper label {
    font-size: 15px; }

div#sort-wrapper {
  position: relative;
  width: 25%;
  display: table-cell; }
  div#sort-wrapper label {
    font-size: 15px; }

div#btns-wrapper {
  position: relative;
  width: 40%;
  display: table-cell; }

div.overview-nav {
  position: absolute;
  top: 9px;
  right: 10px;
  text-align: justify;
  font-size: 0.1px; }

overview-nav:after {
  content: '';
  width: 100%;
  display: inline-block; }

div#table-holder {
  width: 80%;
  height: -moz-calc(100% - 50px);
  /* Firefox */
  height: -webkit-calc(100% - 50px);
  /* WebKit */
  height: -o-calc(100% - 50px);
  /* Opera */
  height: calc(100% - 50px);
  /* Standard */
  overflow: auto; }
  div#table-holder table {
    width: 95%;
    margin: 50px auto;
    border: 1px solid #D3D3D3; }
    div#table-holder table tr:first-child {
      background: linear-gradient(#0097ef, #003b65); }
    div#table-holder table tr:nth-child(even) {
      background: #f7f7f7; }
  div#table-holder .small-btns {
    width: 22px;
    height: 22px;
    line-height: 22px; }

th.info-head {
  height: 35px;
  color: #fff;
  font-size: 15px; }

td.info-cell {
  height: 30px;
  text-align: center;
  border: 1px solid #D3D3D3; }

div#changes-feed {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  border-left: 1px solid #D3D3D3;
  background: #f7f7f7;
  overflow: auto; }
  div#changes-feed div:first-child {
    margin-top: 9px; }

div.activity-box {
  position: relative;
  width: 95%;
  height: 130px;
  margin: 0 auto 20px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  background: #fff;
  font-size: 15px; }

span.activity-header {
  position: absolute;
  top: 15px;
  left: 15px; }

.highlight-text {
  font-weight: bold; }

p.changes-made {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 92%; }

.activity-box span.timestamp {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 12px;
  font-style: italic; }

.options-dropdown {
  width: 100px;
  margin: 0;
  padding: 0;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  color: #0097ef; }
  .options-dropdown:hover {
    cursor: pointer; }
  .options-dropdown ul {
    position: absolute;
    left: -1px;
    width: inherit;
    display: none;
    background-color: #fff; }
  .options-dropdown ul, .options-dropdown li {
    list-style: none;
    padding: 0; }

form.dropdown-form {
  position: absolute;
  top: 8px;
  left: 0; }

.default {
  position: relative;
  width: inherit;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-weight: bold; }
  .default:hover {
    background-color: #f7f7f7; }

.sub-options {
  width: inherit;
  height: 32px;
  line-height: 32px;
  font-size: 13px; }
  .sub-options:first-child {
    border-top: 1px solid #D3D3D3; }
  .sub-options:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .sub-options:nth-child(-n+7) {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3; }
  .sub-options:hover {
    background-color: #f7f7f7; }

.small-btns, body, .dropdown-nav {
  margin: 0;
  padding: 0; }

.action-buttons, #survey-wrapper button, #survey-wrapper input[type="submit"] {
  color: #fff; }

#survey-list-wrapper {
  margin: 0 auto; }

#survey-wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 5px;
  font-size: 15px; }
#survey-wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1; }
#survey-wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909;
  opacity: 1; }
#survey-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909; }

.overview-btns, .inline-btn, .small-btns, .booking-btns, #delete-all-btn, #show-btn, #calendar-container #scroll-top-btn, #save-survey-btn, #logout {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover, .booking-btns:hover, #delete-all-btn:hover, #show-btn:hover, #calendar-container #scroll-top-btn:hover, #save-survey-btn:hover, #logout:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active, .booking-btns:active, #delete-all-btn:active, #show-btn:active, #calendar-container #scroll-top-btn:active, #save-survey-btn:active, #logout:active {
    background: linear-gradient(#fff, #efefef); }

@font-face {
  font-family: notesworthy;
  font-weight: bold;
  src: url("../fonts/Noteworthy-Bold.otf") format("opentype"); }
.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.standard-label {
  font-weight: bold; }

.warning-text {
  color: red;
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

#booking-container {
  width: 100%;
  height: 100%;
  position: relative; }
  #booking-container table {
    width: 50%;
    height: 100%;
    margin: 0 auto 100px; }
    #booking-container table tr td:nth-child(6n+1) {
      border: 0;
      font-weight: bold;
      background: white;
      text-align: right;
      padding-right: 2%; }
    #booking-container table tr td, #booking-container table tr td.available {
      width: 16.66667%;
      height: 200px;
      border: 1px solid black;
      background: #8cf178; }
    #booking-container table tr td.booked {
      background: #c80d0d; }

/***** BOOKING SYSTEM *****/
#booking-container {
  width: 90%;
  margin: 0 auto; }

#days-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto 30px; }
  #days-wrapper form:first-child {
    width: 50%;
    margin: 0 auto;
    display: table; }

#day-row {
  width: 100%;
  display: table-row; }

.day-btns {
  width: 20%;
  height: 30px;
  display: table-cell;
  border: 0;
  color: #0097ef;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: none; }

.active {
  color: #fff;
  background: #000; }

#scheme-table {
  width: 100%;
  display: table;
  margin-top: 50px; }

#scheme-head {
  height: 40px; }

.scheme-row {
  width: inherit;
  display: table-row; }

.scheme-cell {
  position: relative;
  width: 10%;
  display: table-cell;
  background: linear-gradient(#fff, #efefef);
  box-sizing: border-box;
  border: 2px solid #fff; }

#scheme-date {
  border: 0;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background: #000; }

.scheme-classroom {
  width: 11%;
  line-height: 90px;
  border: #003b65;
  border-right: 2px solid #fff;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #000; }

.scheme-time {
  line-height: 40px;
  border: 0;
  text-align: center;
  color: #fff;
  background: #000;
  font-size: 15px; }

.subject {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 15px;
  font-weight: bold; }

.booked-by {
  position: absolute;
  top: 35px;
  left: 20px;
  font-size: 14px;
  color: #0097ef; }

#scheme-footer {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 20px 0 0;
  box-sizing: padding-box; }

#book-wrapper {
  float: right; }

#course-label {
  display: none;
  font-weight: bold;
  float: left;
  margin-top: -2px; }

#cancel-wrapper {
  float: right;
  margin-left: 5px; }

.booking-btns {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  margin: 0; }
  .booking-btns img {
    margin: 0 0 -5px 5px; }

#book {
  margin: 3px 0 0 5px;
  float: right; }
  #book img {
    margin: 0 0 -2px 5px; }

#cancel-booking {
  display: inline-block; }

.marked-cell {
  background: #afafaf; }

#selects-wrapper {
  position: absolute;
  right: 0;
  max-height: 30px;
  line-height: 30px; }

.dropdown-selects {
  height: 30px;
  font-weight: bold; }

#classSubject {
  height: 30px;
  margin: 3px 0 0 5px;
  padding: 0;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  box-sizing: border-box;
  display: none;
  float: left; }

.small-btns, body, .dropdown-nav {
  margin: 0;
  padding: 0; }

.action-buttons, #survey-wrapper button, #survey-wrapper input[type="submit"] {
  color: #fff; }

#survey-list-wrapper {
  margin: 0 auto; }

#survey-wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 5px;
  font-size: 15px; }
#survey-wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1; }
#survey-wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909;
  opacity: 1; }
#survey-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909; }

.overview-btns, .inline-btn, .small-btns, .booking-btns, #delete-all-btn, #show-btn, #calendar-container #scroll-top-btn, #save-survey-btn, #logout {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover, .booking-btns:hover, #delete-all-btn:hover, #show-btn:hover, #calendar-container #scroll-top-btn:hover, #save-survey-btn:hover, #logout:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active, .booking-btns:active, #delete-all-btn:active, #show-btn:active, #calendar-container #scroll-top-btn:active, #save-survey-btn:active, #logout:active {
    background: linear-gradient(#fff, #efefef); }

@font-face {
  font-family: notesworthy;
  font-weight: bold;
  src: url("../fonts/Noteworthy-Bold.otf") format("opentype"); }
.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.standard-label {
  font-weight: bold; }

.warning-text {
  color: red;
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

#delete-all-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-weight: bold; }
  #delete-all-btn img {
    margin: 0 0 -3px 7px; }

#show-btn {
  position: absolute;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  margin-left: 4px;
  font-weight: bold;
  display: inline-block; }

#calendar-header {
  width: 84%;
  margin: 0 8% 20px;
  position: relative; }
  #calendar-header select {
    height: 30px;
    font-weight: bold; }

#pop-up {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 30%;
  height: 300px;
  position: fixed;
  visibility: hidden;
  border: 1px solid #D3D3D3;
  z-index: 1;
  background: linear-gradient(#f9f9f9, #ffffff);
  border-radius: 3px; }
  #pop-up span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  #pop-up table {
    margin: 40px auto; }
    #pop-up table tbody tr:nth-child(5) td {
      text-align: center; }
  #pop-up td:nth-child(2n+1) {
    text-align: right;
    font-size: 15px; }
  #pop-up input {
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
    color: black; }
  #pop-up label {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 5px; }
  #pop-up h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.9em; }
  #pop-up #button {
    background: linear-gradient(white, #c9c9c9);
    margin-top: 30px;
    width: 100px;
    min-height: 30px;
    cursor: pointer;
    font-weight: bold; }

#calendar-container {
  max-width: 84%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 1px; }
  #calendar-container table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse; }
    #calendar-container table:last-child {
      margin-bottom: 150px; }
  #calendar-container td {
    width: 10%;
    height: 130px;
    border: 1px solid black;
    position: relative;
    background: linear-gradient(#fff, #efefef); }
    #calendar-container td span:nth-child(1) {
      font-size: 2.3em;
      position: absolute;
      left: 5px;
      top: 0;
      font-weight: normal; }
    #calendar-container td p {
      position: absolute;
      left: 10px;
      font-size: 1.1em; }
      #calendar-container td p:nth-child(4) {
        top: 30px; }
      #calendar-container td p:nth-child(5) {
        top: 50px; }
      #calendar-container td p:nth-child(6) {
        top: 70px; }
      #calendar-container td p:nth-child(7) {
        top: 90px; }
    #calendar-container td button {
      width: auto;
      height: 20px;
      background: none;
      border: 0;
      font-size: 0.8em;
      position: absolute;
      right: 5px;
      top: 22px;
      font-weight: bold; }
      #calendar-container td button:hover {
        color: #0097ef;
        cursor: pointer; }
      #calendar-container td button:nth-child(2) {
        top: 5px; }
  #calendar-container #scroll-top-btn {
    position: absolute;
    bottom: 30px;
    right: 0;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 10px;
    font-weight: bold; }
  #calendar-container h1 {
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 40px; }
  #calendar-container button:focus {
    outline: 0; }
  #calendar-container input:focus {
    outline: 0; }

/***** LOGIN.PHP *****/
.small-btns, body, .dropdown-nav {
  margin: 0;
  padding: 0; }

.action-buttons, #survey-wrapper button, #survey-wrapper input[type="submit"] {
  color: #fff; }

#survey-list-wrapper {
  margin: 0 auto; }

#survey-wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 5px;
  font-size: 15px; }
#survey-wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1; }
#survey-wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909;
  opacity: 1; }
#survey-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909; }

.overview-btns, .inline-btn, .small-btns, .booking-btns, #delete-all-btn, #show-btn, #calendar-container #scroll-top-btn, #save-survey-btn, #logout {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover, .booking-btns:hover, #delete-all-btn:hover, #show-btn:hover, #calendar-container #scroll-top-btn:hover, #save-survey-btn:hover, #logout:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active, .booking-btns:active, #delete-all-btn:active, #show-btn:active, #calendar-container #scroll-top-btn:active, #save-survey-btn:active, #logout:active {
    background: linear-gradient(#fff, #efefef); }

@font-face {
  font-family: notesworthy;
  font-weight: bold;
  src: url("../fonts/Noteworthy-Bold.otf") format("opentype"); }
.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.standard-label {
  font-weight: bold; }

.warning-text {
  color: red;
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

/***** MAIN CONTENT -> LOGIN *****/
#login-container {
  position: relative;
  width: 50%;
  min-height: 100%;
  margin: 0 auto; }

#login-form input {
  width: inherit;
  height: 30px; }
#login-form label {
  font-size: 20px; }
#login-form table {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 25%;
  text-align: center; }
  #login-form table td.space-down {
    padding-bottom: 15px; }
  #login-form table a {
    text-decoration: none; }
    #login-form table a:link, #login-form table a:visited, #login-form table a:focus, #login-form table a:active {
      color: #0097ef; }
    #login-form table a:hover {
      color: #38b6ff; }

#login-btn {
  width: 35%;
  height: 30px;
  margin-top: 20px;
  border-radius: 0;
  font-size: 14px;
  font-weight: bold; }

/***** INBOX.PHP, SENDMSG.PHP, READMSG.PHP, REMOVED.PHP, SENT.PHP *****/
.small-btns, body, .dropdown-nav {
  margin: 0;
  padding: 0; }

.action-buttons, #survey-wrapper button, #survey-wrapper input[type="submit"] {
  color: #fff; }

#survey-list-wrapper {
  margin: 0 auto; }

#survey-wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 5px;
  font-size: 15px; }
#survey-wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1; }
#survey-wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909;
  opacity: 1; }
#survey-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909; }

.overview-btns, .inline-btn, .small-btns, .booking-btns, #delete-all-btn, #show-btn, #calendar-container #scroll-top-btn, #save-survey-btn, #logout {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover, .booking-btns:hover, #delete-all-btn:hover, #show-btn:hover, #calendar-container #scroll-top-btn:hover, #save-survey-btn:hover, #logout:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active, .booking-btns:active, #delete-all-btn:active, #show-btn:active, #calendar-container #scroll-top-btn:active, #save-survey-btn:active, #logout:active {
    background: linear-gradient(#fff, #efefef); }

@font-face {
  font-family: notesworthy;
  font-weight: bold;
  src: url("../fonts/Noteworthy-Bold.otf") format("opentype"); }
.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.standard-label {
  font-weight: bold; }

.warning-text {
  color: red;
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

/***** MAIN CONTENT -> TEMPLATE STYLES *****/
.msg-container {
  position: relative;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 1% 5% 0;
  border-left: 1px solid #D3D3D3;
  border-right: 1px solid #D3D3D3;
  border-top: 1px solid #D3D3D3; }

#msg-menu-container {
  margin-bottom: 40px; }

#btn-menu-wrapper {
  font-size: 0.1px;
  text-align: justify; }

/***** MAIN CONTENT -> SEND MESSAGE FORM *****/
#send-msg-form {
  width: 100%;
  margin: 0 auto; }
  #send-msg-form table {
    width: inherit; }
  #send-msg-form td.space-down {
    padding-bottom: 10px; }
  #send-msg-form td.labels {
    width: 5%;
    height: 25px;
    line-height: 25px;
    padding-right: 5px;
    text-align: right;
    font-weight: bold; }
  #send-msg-form td.column-two {
    width: 95%; }
  #send-msg-form .input {
    width: 40%;
    height: 20px; }
  #send-msg-form #message-area {
    width: 100%;
    height: 380px; }
  #send-msg-form #send-msg-btn {
    height: 25px;
    margin-top: 20px;
    font-weight: bold; }

/***** MAIN CONTENT -> INBOX SECTION *****/
#inbox-container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto; }
  #inbox-container a {
    text-decoration: none; }
    #inbox-container a:link, #inbox-container a:visited, #inbox-container a:focus, #inbox-container a:hover, #inbox-container a:active {
      color: #000; }

.small-btns, body, .dropdown-nav {
  margin: 0;
  padding: 0; }

.action-buttons, #survey-wrapper button, #survey-wrapper input[type="submit"] {
  color: #fff; }

#survey-list-wrapper {
  margin: 0 auto; }

#survey-wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 5px;
  font-size: 15px; }
#survey-wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1; }
#survey-wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909;
  opacity: 1; }
#survey-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909; }

.overview-btns, .inline-btn, .small-btns, .booking-btns, #delete-all-btn, #show-btn, #calendar-container #scroll-top-btn, #save-survey-btn, #logout {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover, .booking-btns:hover, #delete-all-btn:hover, #show-btn:hover, #calendar-container #scroll-top-btn:hover, #save-survey-btn:hover, #logout:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active, .booking-btns:active, #delete-all-btn:active, #show-btn:active, #calendar-container #scroll-top-btn:active, #save-survey-btn:active, #logout:active {
    background: linear-gradient(#fff, #efefef); }

@font-face {
  font-family: notesworthy;
  font-weight: bold;
  src: url("../fonts/Noteworthy-Bold.otf") format("opentype"); }
.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.standard-label {
  font-weight: bold; }

.warning-text {
  color: red;
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

/** global scope **/
html, body, main,
body {
  width: 100%;
  height: 100%; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #000; }

/** generic classes **/
.btn {
  border-radius: 5px;
  outline: 0;
  padding: 5px 10px; }

.transparent {
  background: none; }

.brown-btn {
  border: 1px solid #3f2b26;
  background: linear-gradient(#7d574a, #3f2b26);
  color: #fff;
  font-weight: bold; }
  .brown-btn:hover {
    background: linear-gradient(#7d574a, #3f2b26); }
  .brown-btn:active {
    background: linear-gradient(#3f2b26, #7d574a); }

.full-height {
  height: 100%; }

.hide {
  display: none; }

ul.reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.smooth-edges {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

div.wrapper {
  position: relative;
  text-align: left;
  color: #000; }

/** notepad **/
/** wrappers **/
div#site-wrapper {
  position: relative;
  width: 50%;
  margin: 100px auto; }

div#top-bar {
  position: relative;
  width: 100%;
  height: 10%;
  background: linear-gradient(#3f2b26, #7d574a);
  z-index: 4; }

div#list-container {
  height: 90%; }

/** lists **/
ul#note-block {
  height: 90%;
  border: 1px solid grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1; }
  ul#note-block li {
    height: 5%;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
    background-color: #f5f293; }
    ul#note-block li:first-child {
      position: relative;
      height: 7.5%; }
      ul#note-block li:first-child span {
        position: absolute;
        top: 17%;
        color: #ab5839; }
        ul#note-block li:first-child span:first-child {
          left: 11%;
          font-weight: bold; }
        ul#note-block li:first-child span:nth-child(2) {
          right: 60px; }
        ul#note-block li:first-child span:last-child {
          right: 10px; }
    ul#note-block li:last-child {
      position: relative;
      height: 12.5%;
      border: 0;
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px; }
      ul#note-block li:last-child img {
        position: absolute;
        top: 30%;
        right: 50px; }

ul#notes-list {
  margin-bottom: 100px;
  border-left: 1px solid grey;
  border-right: 1px solid grey; }
  ul#notes-list li {
    position: relative;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid grey;
    background-color: #f5f293;
    cursor: pointer; }

/** buttons **/
button#add-note,
button#all-notes,
input#done-btn,
button#edit {
  position: absolute;
  bottom: 10px; }

button#add-note,
input#done-btn,
button#edit {
  right: 15px; }

button#all-notes {
  left: 15px; }

/** text elements **/
span.topic {
  margin: 0 30px;
  font-family: notesworthy; }

span.notes-timestamp {
  position: absolute;
  right: 30px;
  color: #ab5839;
  font-weight: bold; }

/** user input fields **/
textarea#notes-area {
  position: absolute;
  top: 17%;
  left: 12%;
  width: 86%;
  height: 72%;
  line-height: 43px;
  padding: 0;
  border: 0;
  outline: 0;
  resize: none;
  overflow: auto;
  background: none;
  font-family: notesworthy;
  font-size: 20px; }

/** other **/
div.vertical-stripes {
  position: absolute;
  height: calc(90% + 1px);
  width: 1px;
  top: 10%;
  left: 10%;
  background-color: #ab5839;
  z-index: 2; }
  div.vertical-stripes:nth-child(2) {
    left: calc(10% + 2px); }

#trashcan {
  cursor: pointer; }

.small-btns, body, .dropdown-nav {
  margin: 0;
  padding: 0; }

.action-buttons, #survey-wrapper button, #survey-wrapper input[type="submit"] {
  color: #fff; }

#survey-list-wrapper {
  margin: 0 auto; }

#survey-wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 5px;
  font-size: 15px; }
#survey-wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1; }
#survey-wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909;
  opacity: 1; }
#survey-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909; }

.overview-btns, .inline-btn, .small-btns, .booking-btns, #delete-all-btn, #show-btn, #calendar-container #scroll-top-btn, #save-survey-btn, #logout {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover, .booking-btns:hover, #delete-all-btn:hover, #show-btn:hover, #calendar-container #scroll-top-btn:hover, #save-survey-btn:hover, #logout:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active, .booking-btns:active, #delete-all-btn:active, #show-btn:active, #calendar-container #scroll-top-btn:active, #save-survey-btn:active, #logout:active {
    background: linear-gradient(#fff, #efefef); }

@font-face {
  font-family: notesworthy;
  font-weight: bold;
  src: url("../fonts/Noteworthy-Bold.otf") format("opentype"); }
.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.standard-label {
  font-weight: bold; }

.warning-text {
  color: red;
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

#survey-wrapper {
  width: 80%;
  margin: 0 auto 200px; }
  #survey-wrapper fieldset {
    margin-bottom: 30px; }
  #survey-wrapper legend {
    font-weight: bold;
    padding: 0 5px; }

#survey-btn-wrapper {
  text-align: justify;
  font-size: 0.1px;
  display: inline-block; }
  #survey-btn-wrapper:after {
    content: '';
    width: 100%;
    display: inline-block; }

#submit-container {
  display: none;
  float: right; }

#survey-list-wrapper {
  width: 60%; }

.radio-row td:nth-child(2) {
  padding-right: 30px; }

.radio-cell {
  height: 30px;
  padding: 0; }

#display-surveys-table {
  width: 100%;
  border: 1px solid darkgrey; }
  #display-surveys-table tr:first-child {
    background: linear-gradient(#0097ef, #003b65);
    color: #fff; }
  #display-surveys-table tr:nth-child(even) {
    background: #f7f7f7; }
  #display-surveys-table a {
    text-decoration: none; }
    #display-surveys-table a:link, #display-surveys-table a:visited, #display-surveys-table a:focus, #display-surveys-table a:active {
      color: #000; }
    #display-surveys-table a:hover {
      color: #0097ef; }

.survey-head {
  height: 30px; }

.survey-cell {
  height: 30px;
  line-height: 30px;
  border: 1px solid #D3D3D3;
  text-align: center; }

.highlight-text {
  font-weight: bold; }

.question-label {
  margin: 0 10px 0 0;
  font-size: 24px; }

.radio-label {
  margin-left: 5px; }

.choose-type-label {
  margin-right: 10px; }

.edit-input {
  display: none; }

.radio-choose-type {
  margin-right: 5px; }

.user-textfield {
  margin-top: 20px;
  width: 350px;
  height: 170px;
  float: left; }

#numOfQuestions {
  height: 26px;
  float: left; }

.survey-inputs {
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  padding: 0;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 3px;
  float: right; }

.choose-type-ul {
  list-style: none;
  padding: 0;
  margin: 10px; }

.radio-ul {
  margin: 10px 10px 0;
  padding: 0; }

.event-btn {
  border: 0;
  background: none;
  cursor: pointer; }
  .event-btn:hover {
    color: #0097ef; }

#save-survey-btn {
  height: 30px;
  line-height: 30px;
  color: #000 !important;
  font-weight: bold; }
  #save-survey-btn img {
    margin: 0 0 -2px 3px; }

.survey-btns {
  margin-left: 5px;
  display: inline-block; }
  .survey-btns img {
    margin-bottom: -7px; }

/***** GENERAL STYLES *****/
html, body, main {
  height: 100%; }

body {
  width: 100%;
  font-family: Arial, sans-serif; }

/***** HEADER *****/
#site-header {
  position: relative;
  width: 100%;
  height: 160px;
  margin: 0; }

/***** HEADER -> LOGO SECTION *****/
#school-logo {
  position: absolute;
  top: 20px;
  left: 80px;
  width: 8.5%;
  height: 90%; }

.logo-text {
  position: absolute;
  left: 15%;
  color: #0097ef; }

#school-name {
  top: 40%;
  font-size: 38px;
  font-weight: bold;
  text-shadow: 1px 1px #003b65; }

#slogan {
  top: 68%;
  font-size: 1.4em; }

/***** HEADER -> SITE SEARCH AND LOGOUT SECTION *****/
#search-form {
  position: absolute;
  top: 140px;
  right: 15px; }

span#current-user {
  position: absolute;
  right: 60px;
  top: 20px;
  color: #000;
  font-weight: bold; }
  span#current-user img {
    margin-left: 7px; }
  span#current-user span {
    margin-left: 5px;
    color: #0097ef; }

#logout {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 34px;
  height: 34px; }
  #logout img {
    margin: 2px 0 0; }

/***** HEADER -> MAIN MENU SECTION *****/
#main-nav {
  margin: 20px 0 60px;
  padding: 0;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  box-sizing: border-box;
  list-style: none;
  background: linear-gradient(#f9f9f9, #ffffff); }

.nav-items {
  position: relative;
  width: 12.5%;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  margin-top: 4px;
  text-align: center;
  font-weight: bold; }
  .nav-items a {
    text-decoration: none; }
    .nav-items a:link, .nav-items a:visited, .nav-items a:focus, .nav-items a:active {
      color: #0097ef; }
    .nav-items a:hover {
      color: #000; }
  .nav-items img {
    margin-bottom: -2px; }

.dropdown-nav {
  position: absolute;
  width: 100%;
  display: none;
  margin-top: -1px;
  box-sizing: border-box;
  border-left: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  border-right: 1px solid #D3D3D3;
  background: linear-gradient(#f9f9f9, #ffffff);
  z-index: 500; }

.dropdown-items {
  height: 25px;
  line-height: 25px;
  width: calc($max - 5%);
  display: block;
  text-align: left;
  font-size: 13px;
  padding-left: 5%;
  border-bottom: 1px solid #D3D3D3; }
  .dropdown-items:last-child {
    border-bottom: 0; }
  .dropdown-items span {
    padding: 2px 6px;
    border-radius: 12px;
    box-sizing: padding-box;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }

/***** END OF HEADER *****/
/***** MAIN CONTENT *****/

/*# sourceMappingURL=style.css.map */
