.small-btns {
  margin: 0;
  padding: 0; }

.action-buttons, #survey-wrapper button, #survey-wrapper input[type="submit"] {
  color: #fff; }

#survey-list-wrapper {
  margin: 0 auto; }

#survey-wrapper ::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 5px;
  font-size: 15px; }
#survey-wrapper :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1; }
#survey-wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909;
  opacity: 1; }
#survey-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909; }

.overview-btns, .inline-btn, .small-btns, #save-survey-btn {
  border-radius: 3px;
  border: 1px solid #D3D3D3;
  background: linear-gradient(#fff, #efefef);
  outline: 0; }
  .overview-btns:hover, .inline-btn:hover, .small-btns:hover, #save-survey-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .overview-btns:active, .inline-btn:active, .small-btns:active, #save-survey-btn:active {
    background: linear-gradient(#fff, #efefef); }

@font-face {
  font-family: notesworthy;
  font-weight: bold;
  src: url("../fonts/Noteworthy-Bold.otf") format("opentype"); }
.action-buttons {
  height: 24px;
  padding: 0 10px;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer; }

.overview-btns {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-left: 3px;
  padding: 0;
  display: inline-block; }
  .overview-btns img {
    margin: 3px 0 0; }

.inline-btn {
  width: auto;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  padding: 1px 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }
  .inline-btn a {
    text-decoration: none; }
    .inline-btn a:link, .inline-btn a:visited, .inline-btn a:focus, .inline-btn a:hover, .inline-btn a:active {
      color: #0097ef; }
  .inline-btn:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .inline-btn:active {
    background: linear-gradient(#fff, #efefef); }
  .inline-btn:nth-child(4) img {
    margin-bottom: 0px; }
  .inline-btn img {
    width: 16px;
    height: 16px;
    margin: -2px 0; }
  .inline-btn span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(#4fef00, #3db700); }
  .inline-btn:after {
    content: '';
    width: 100%;
    display: inline-block; }

.small-btns {
  width: 26px;
  height: 26px;
  line-height: 26px; }
  .small-btns:hover {
    background: linear-gradient(#f9f9f9, #ffffff); }
  .small-btns:active {
    background: linear-gradient(#fff, #efefef); }
  .small-btns img {
    margin: -2px -1px; }

.searchfield {
  width: 200px;
  height: 26px;
  padding: 0 0 0 10px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  outline: 0; }

.searchfield-btn {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 16px;
  height: 16px;
  outline: 0; }

.standard-label {
  font-weight: bold; }

.warning-text {
  color: red;
  font-weight: bold; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.border-box {
  box-sizing: border-box; }

.hide-element {
  display: none; }

.nav {
  padding: 0;
  list-style: none;
  font-size: 0; }

.ui-box-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }

#survey-wrapper {
  width: 80%;
  margin: 0 auto 200px; }
  #survey-wrapper fieldset {
    margin-bottom: 30px; }
  #survey-wrapper legend {
    font-weight: bold;
    padding: 0 5px; }

#survey-btn-wrapper {
  text-align: justify;
  font-size: 0.1px;
  display: inline-block; }
  #survey-btn-wrapper:after {
    content: '';
    width: 100%;
    display: inline-block; }

#submit-container {
  display: none;
  float: right; }

#survey-list-wrapper {
  width: 60%; }

.radio-row td:nth-child(2) {
  padding-right: 30px; }

.radio-cell {
  height: 30px;
  padding: 0; }

#display-surveys-table {
  width: 100%;
  border: 1px solid darkgrey; }
  #display-surveys-table tr:first-child {
    background: linear-gradient(#0097ef, #003b65);
    color: #fff; }
  #display-surveys-table tr:nth-child(even) {
    background: #f7f7f7; }
  #display-surveys-table a {
    text-decoration: none; }
    #display-surveys-table a:link, #display-surveys-table a:visited, #display-surveys-table a:focus, #display-surveys-table a:active {
      color: #000; }
    #display-surveys-table a:hover {
      color: #0097ef; }

.survey-head {
  height: 30px; }

.survey-cell {
  height: 30px;
  line-height: 30px;
  border: 1px solid #D3D3D3;
  text-align: center; }

.highlight-text {
  font-weight: bold; }

.question-label {
  margin: 0 10px 0 0;
  font-size: 24px; }

.radio-label {
  margin-left: 5px; }

.choose-type-label {
  margin-right: 10px; }

.edit-input {
  display: none; }

.radio-choose-type {
  margin-right: 5px; }

.user-textfield {
  margin-top: 20px;
  width: 350px;
  height: 170px;
  float: left; }

#numOfQuestions {
  height: 26px;
  float: left; }

.survey-inputs {
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  padding: 0;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 3px;
  float: right; }

.choose-type-ul {
  list-style: none;
  padding: 0;
  margin: 10px; }

.radio-ul {
  margin: 10px 10px 0;
  padding: 0; }

.event-btn {
  border: 0;
  background: none;
  cursor: pointer; }
  .event-btn:hover {
    color: #0097ef; }

#save-survey-btn {
  height: 30px;
  line-height: 30px;
  color: #000 !important;
  font-weight: bold; }
  #save-survey-btn img {
    margin: 0 0 -2px 3px; }

.survey-btns {
  margin-left: 5px;
  display: inline-block; }
  .survey-btns img {
    margin-bottom: -7px; }

/*# sourceMappingURL=survey.css.map */
