@import "data";

//Containers
#survey-wrapper {
    width: $max - 20;
    margin: $center 200px;
    
    h1, h2 {
        color: $dark-blue;
    }
    
    button {
        @extend %white-text;
    }
    
    input[type="submit"] {
        @extend %white-text;
    }
    
    fieldset {
        margin-bottom: 30px;
    }

    legend {
        font-weight: bold;
        padding: 0 5px;
    }
    
    @extend %placeholderStyles;
}

#submit-container {
    display: none;
    float: right;
}

#survey-list-wrapper {
    width: 60%;
    @extend %center-element;
}

//Table elements
.radio-row {
    
    td:nth-child(2) {
        padding-right: 30px;
    }
}

.radio-cell {
    height: 30px;
    padding: 0;
}

#display-surveys-table {
    width: $max;
    border: 1px solid darkgrey;
    
    tr:first-child {
        background: $blue-gradient;
        color: $white;
    }
    
    tr:nth-child(even) {
        background: $soft-grey;
    }
    
    @include link-colors($color: $black, $hover-color: $ocean-blue);
}

.survey-head {
    height: 30px;
}

.survey-cell {
    height: 30px;
    border: $thin-lightgrey;
    text-align: center;
}

.highlight-text {
    font-weight: bold;
}

//Labels
.question-label {
    margin: 0 10px 0 0;
    font-size: 24px;
}

.radio-label {
    margin-left: 5px;
}

.choose-type-label {
    margin-right: 10px;
}

//Inputs
.edit-input {
    display: none; 
}

.radio-choose-type {
    margin-right: 5px;
}

.user-textfield {
    margin-top: 20px;
    width: 350px;
    height: 170px;
    float: left;
}

//Lists
.choose-type-ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.radio-ul {
    margin: 10px 10px 0;
    padding: 0;
}

//Buttons
.radio-edit-button {
    margin: 0 5px 0 0;
    padding: 4px 6px;
}

.radio-remove-button {
    margin: 0 5px;
    padding: 4px 10px 4px 6px;
}

.event-btn {
    border: 0;
    background: none;
    cursor: pointer;
    
    &:hover {
        color: $ocean-blue;
    }
}