/***** INBOX.PHP, SENDMSG.PHP, READMSG.PHP, REMOVED.PHP, SENT.PHP *****/

.msg-container {
    position: relative;
    width: $max - 40;
    height: 100%;
    margin: $center;
    padding: 1% 5% 0;
    border-left: $thin-lightgrey;
    border-right: $thin-lightgrey;
    border-top: $thin-lightgrey;
}

#msg-menu-container {
    margin-bottom: 40px;
    border-bottom: $thin-lightgrey;
}

#msg-menu {
    width: $max - 50;
    margin: 0;
    padding: 0;
    display: table;
    list-style: none;
}

.msg-items {
    width: auto;
    @include vertAlign(35px);
    margin: 0;
    padding: 0 2.5%;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    
    @include link-colors($color: $dark-blue);
    
    &:first-child {
        border-left: $thin-lightgrey;
    }
    
    &:hover {
        background: $soft-grey;
    }
}

#send-msg-form {
    width: $max;
    margin: $center;
    
    table {
        width: inherit;
    }
    
    td.space-down {
        padding-bottom: 10px;
    }
    
    td.labels {
        width: 5%;
        @include vertAlign($height: 25px);
        padding-right: 5px;
        text-align: right;
        font-weight: bold;
    }
    
    td.column-two {
        width: $max - 5;
    }
    
    .input {
        width: 40%;
        height: 20px;
    }
    
    #message-area {
        width: $max;
        height: 380px;
    }
    
    #send-msg-btn {
        height: 25px;
        font-weight: bold;
    }
}


#inbox {
    width: $max;
    height: $max - 10;
    border: 1px solid lightgrey;
    margin: $center;
    
    a {
        color: $dark-blue;
    }
    
    #first-ul {
        margin: 0;
        padding: 10px 0 0 15px;
        list-style: none;
        
        li:nth-child(even) {
            background: #f7f7f7;
        }
        
        li {
            @include vertAlign(30px);
            font-weight: bold;
            font-size: $small-font;
            
            input {
                width: 15px;
                height: 15px;
                margin: 8px 10px 0 ;
                float: left;
            }
            
            span {
                float: right;
                margin-right: 20px;
            }
            
            label {
                width: auto;
                float: left;
                margin-right: 50px;
                color: $dark-blue;
            }
        }
        
        footer {
            width: $max;
            position: absolute;
            bottom: 0;
            padding-top: 5px;
            border-top: 1px solid lightgrey;

            ul {
                margin: 0 30px 0;
                padding: 0;
                height: 25px;
                float: right;

                li {
                    width: 30px;
                    border: 0;
                    display: inline-block;
                    text-align: center;
                    font-weight: bold;
                    font-size: $small-font;
                    border-left: 1px solid lightgrey; 
                }

                #first-li {
                    width: 50px;
                    border: 0;
                }
            }
        } 
    }
}