/* To watch the files: sass --watch style.scss:style.css */

$primary-menu-color: #fff;
$primary-color: #00425C;
$maxPercentage: 100%;
$fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$small-font: 0.8em;
$normal-font: 1em;
$big-font: 1.2em;
$center: 0 auto;

%no-margins {
    margin: 0;
    padding: 0;
}

%link-color {
    color: black;
}

@mixin vertAlign($height, $lineHeight: $height) {
    height: $height;
    line-height: $lineHeight;
}

@mixin center {
    position: absolute;
    top: $maxPercentage - 50;
    left: $maxPercentage - 50;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

html {
    height: $maxPercentage;
}

body {
    @extend %no-margins;
    @extend html;
    width: $maxPercentage;
    font-family: $fontFamily;
}

main {
    @extend html;
}

a {
    text-decoration: none;
    
    &:link, &:visited, &:focus, &:hover, &:active {
        @extend %link-color; 
    }
}

#login-container {
    
    width: $maxPercentage - 50;
    margin: $center;
    min-height: 100%;
    position: relative;
    background: yellow;
    
    table {
        @include center;
        background: pink;
    }
}

#main-menu {
    list-style: none;
    color: $primary-menu-color;
    margin-top: 140px;
    padding: 0;
    
    a {
        color: $primary-menu-color;
    }
    
    li {
        @include vertAlign(40px);
        width: ($maxPercentage / 8);
        background: $primary-color;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        position: relative;
        
        ul {
            @extend %no-margins;
            position: absolute;
            display: none;
            width: $maxPercentage;
            background: $primary-color;
            
            li {
                @include vertAlign(25px);
                width: $maxPercentage - 10;
                display: block;
                text-align: left;
                font-size: $small-font;
                padding-left: 5%;
            }
        }
    }
}