/* To watch the files: sass --watch style.scss:style.css */
body, #main-menu li ul {
  margin: 0;
  padding: 0; }

a:link, a:visited, a:focus, a:hover, a:active {
  color: black; }

#calendar-container button:focus, #calendar-container input:focus {
  outline: 0; }

html, body, main {
  height: 100%; }

body {
  width: 100%;
  font-family: Arial, sans-serif; }

a {
  text-decoration: none; }

.active {
  border-bottom: 1px solid white; }

header {
  margin: 0;
  width: 100%;
  height: 160px;
  position: relative; }
  header img {
    width: 8.5%;
    height: 90%;
    top: 20px;
    left: 80px;
    position: absolute; }
  header span {
    position: absolute;
    color: #003b65;
    left: 15%; }
  header span:nth-child(2) {
    font-size: 2.3em;
    font-weight: bold;
    top: 40%; }
  header span:nth-child(3) {
    font-size: 1.4em;
    top: 68%; }
  header #search-form {
    position: absolute;
    top: 20px;
    right: 140px; }
    header #search-form input {
      width: 250px;
      height: 30px;
      padding: 0 0 0 10px;
      border: 1px solid black;
      outline: 0; }
    header #search-form div {
      width: 260px;
      max-height: 300px;
      z-index: 9999;
      display: none;
      position: relative;
      background: linear-gradient(white, #f2f2f2);
      border-right: 1px solid black;
      border-left: 1px solid black; }
      header #search-form div ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        header #search-form div ul li {
          height: 30px;
          line-height: 30px;
          width: inherit;
          padding-left: 10px;
          border-bottom: 1px solid black;
          cursor: pointer; }
  header #logout {
    position: absolute;
    right: 30px;
    top: 20px;
    background: #003b65;
    color: #fff;
    border: none;
    width: 80px;
    height: 32px;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer; }

#login-container {
  width: 50%;
  margin: 0 auto;
  min-height: 100%;
  position: relative; }
  #login-container table {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 25%;
    text-align: center; }
    #login-container table tr:nth-child(1) td, #login-container table tr:nth-child(3) td {
      text-align: left; }
    #login-container table tr:nth-child(2) td, #login-container table tr:nth-child(4) td {
      padding-bottom: 15px; }
    #login-container table label {
      font-size: 1.3em; }
    #login-container table input {
      width: 100%;
      height: 30px; }
    #login-container table #submit {
      width: 35%;
      height: 30px;
      margin-top: 20px;
      font-weight: bold;
      border-radius: 0; }
    #login-container table a {
      font-size: 1em;
      color: #0097ef;
      font-weight: bold; }
      #login-container table a:hover {
        color: #38b6ff; }

#main-menu {
  list-style: none;
  color: #fff;
  margin: 20px 0 60px;
  padding: 0; }
  #main-menu a {
    color: #fff; }
  #main-menu li {
    height: 40px;
    line-height: 40px;
    width: 12.5%;
    background: #003b65;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    position: relative; }
    #main-menu li ul {
      position: absolute;
      display: none;
      width: 100%;
      background: #003b65;
      z-index: 500; }
      #main-menu li ul li {
        height: 25px;
        line-height: 25px;
        width: 90%;
        display: block;
        text-align: left;
        font-size: 0.8em;
        padding-left: 5%; }

.msg-container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 1% 5% 0;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  position: relative; }

.msg-menu div:first-child {
  margin-bottom: 40px;
  border-bottom: 1px solid lightgrey; }
  .msg-menu div:first-child ul {
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: table; }
    .msg-menu div:first-child ul li {
      height: 35px;
      line-height: 35px;
      width: auto;
      display: table-cell;
      text-align: center;
      margin: 0;
      padding: 0 2.5%;
      font-weight: bold; }
      .msg-menu div:first-child ul li a {
        color: #003b65; }
    .msg-menu div:first-child ul li:hover {
      background: #f7f7f7; }
    .msg-menu div:first-child ul li:nth-child(1) {
      border-left: 1px solid lightgrey; }

#msg-center form {
  width: 100%;
  margin: 0 auto; }
  #msg-center form tr:nth-child(1) td:nth-child(1), #msg-center form tr:nth-child(1) td:nth-child(2), #msg-center form tr:nth-child(2) td:nth-child(1), #msg-center form tr:nth-child(2) td:nth-child(2) {
    padding-bottom: 10px; }
  #msg-center form tr:nth-child(1) td:nth-child(1), #msg-center form tr:nth-child(2) td:nth-child(1) {
    text-align: right;
    width: 5%; }
  #msg-center form tr:nth-child(1) td:nth-child(2) input, #msg-center form tr:nth-child(2) td:nth-child(2) input {
    width: 43%;
    height: 25px; }
  #msg-center form label {
    font-weight: bold;
    margin-right: 5px; }
  #msg-center form textarea {
    width: 98%;
    height: 380px; }
  #msg-center form input[type="submit"] {
    height: 25px;
    font-weight: bold; }

#inbox {
  width: 100%;
  height: 90%;
  border: 1px solid lightgrey;
  margin: 0 auto; }
  #inbox a {
    color: #003b65; }
  #inbox #first-ul {
    margin: 0;
    padding: 10px 0 0 15px;
    list-style: none; }
    #inbox #first-ul li:nth-child(even) {
      background: #f7f7f7; }
    #inbox #first-ul li {
      height: 30px;
      line-height: 30px;
      font-weight: bold;
      font-size: 0.9em; }
      #inbox #first-ul li input {
        width: 15px;
        height: 15px;
        margin: 8px 10px 0;
        float: left; }
      #inbox #first-ul li span {
        float: right;
        margin-right: 20px; }
      #inbox #first-ul li label {
        width: auto;
        float: left;
        margin-right: 50px;
        color: #003b65; }
    #inbox #first-ul footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding-top: 5px;
      border-top: 1px solid lightgrey; }
      #inbox #first-ul footer ul {
        margin: 0 30px 0;
        padding: 0;
        height: 25px;
        float: right; }
        #inbox #first-ul footer ul li {
          width: 30px;
          border: 0;
          display: inline-block;
          text-align: center;
          font-weight: bold;
          font-size: 0.8em;
          border-left: 1px solid lightgrey; }
        #inbox #first-ul footer ul #first-li {
          width: 50px;
          border: 0; }

#deleteButton {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 1em; }

#calendar-header {
  width: 84%;
  margin: 0 8% 20px;
  position: relative; }
  #calendar-header button {
    font-weight: bold; }

#pop-up {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 30%;
  height: 300px;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  background: #003b65;
  color: #fff;
  border-radius: 15px; }
  #pop-up span {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer; }
  #pop-up table {
    margin: 40px auto; }
    #pop-up table tbody tr:nth-child(5) td {
      text-align: center; }
  #pop-up td:nth-child(2n+1) {
    text-align: right;
    font-size: 0.8em; }
  #pop-up input {
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
    color: black; }
  #pop-up label {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 5px; }
  #pop-up h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.9em; }
  #pop-up #button {
    background: linear-gradient(white, #c9c9c9);
    margin-top: 30px;
    width: 100px;
    min-height: 30px;
    cursor: pointer;
    font-weight: bold; }

#calendar-container {
  max-width: 84%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 1px; }
  #calendar-container table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse; }
    #calendar-container table:last-child {
      margin-bottom: 150px; }
  #calendar-container td {
    width: 10%;
    height: 130px;
    border: 1px solid black;
    position: relative;
    background: #f9f9f9; }
    #calendar-container td span:nth-child(1) {
      font-size: 2.3em;
      position: absolute;
      left: 5px;
      top: 0;
      font-weight: normal;
      color: #003b65; }
    #calendar-container td p {
      position: absolute;
      left: 10px;
      font-size: 1.1em; }
      #calendar-container td p:nth-child(4) {
        top: 30px; }
      #calendar-container td p:nth-child(5) {
        top: 50px; }
      #calendar-container td p:nth-child(6) {
        top: 70px; }
      #calendar-container td p:nth-child(7) {
        top: 90px; }
    #calendar-container td button {
      width: auto;
      height: 20px;
      background: none;
      border: 0;
      font-size: 0.8em;
      position: absolute;
      right: 5px;
      top: 22px;
      font-weight: bold; }
      #calendar-container td button:hover {
        color: #1ca0b4;
        cursor: pointer; }
      #calendar-container td button:nth-child(2) {
        top: 5px; }
  #calendar-container #btt {
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: 1.3em;
    cursor: pointer;
    color: #003b65; }
  #calendar-container h1 {
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #003b65; }
  #calendar-container button {
    color: #003b65; }

#booking-container {
  width: 100%;
  height: 100%;
  position: relative; }
  #booking-container table {
    width: 50%;
    height: 100%;
    margin: 0 auto 100px; }
    #booking-container table tr td:nth-child(6n+1) {
      border: 0;
      font-weight: bold;
      background: white;
      text-align: right;
      padding-right: 2%; }
    #booking-container table tr td, #booking-container table tr td.available {
      width: 16.66667%;
      height: 200px;
      border: 1px solid black;
      background: #8cf178; }
    #booking-container table tr td.booked {
      background: #c80d0d; }

/*# sourceMappingURL=style.css.map */
