/* To watch the files: sass --watch style.scss:style.css */
body, #main-menu li ul {
  margin: 0;
  padding: 0; }

a:link, a:visited, a:focus, a:hover, a:active {
  color: black; }

html, body, main {
  height: 100%; }

body {
  width: 100%;
  font-family: Arial, sans-serif; }

a {
  text-decoration: none; }

header {
  margin: 0;
  width: 100%;
  height: 160px;
  position: relative; }
  header img {
    width: 8.5%;
    height: 90%;
    top: 20px;
    left: 80px;
    position: absolute; }
  header span {
    position: absolute;
    color: #003b65;
    left: 15%; }
  header span:nth-child(2) {
    font-size: 2.3em;
    font-weight: bold;
    top: 40%; }
  header span:nth-child(3) {
    font-size: 1.4em;
    top: 68%; }
  header #search-form {
    position: absolute;
    top: 20px;
    right: 140px; }
    header #search-form input {
      width: 210px;
      height: 30px;
      padding: 0 0 0 10px;
      border: 1px solid black; }
    header #search-form div {
      width: 222px;
      max-height: 300px;
      margin-top: -16px;
      z-index: 1000;
      display: none;
      position: relative; }
      header #search-form div ul {
        list-style: none;
        padding: 0; }
        header #search-form div ul li {
          height: 25px;
          line-height: 25px;
          width: inherit;
          padding-left: 10px; }
  header #logout {
    position: absolute;
    right: 30px;
    top: 20px;
    background: #003b65;
    color: #fff;
    border: none;
    width: 80px;
    height: 32px;
    font-weight: bold; }

#login-container {
  width: 50%;
  margin: 0 auto;
  min-height: 100%;
  position: relative; }
  #login-container table {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 25%;
    text-align: center; }
    #login-container table tr:nth-child(1) td, #login-container table tr:nth-child(3) td {
      text-align: left; }
    #login-container table tr:nth-child(2) td, #login-container table tr:nth-child(4) td {
      padding-bottom: 15px; }
    #login-container table label {
      font-size: 1.3em; }
    #login-container table input {
      width: 100%;
      height: 30px; }
    #login-container table #submit {
      width: 35%;
      height: 30px;
      margin-top: 20px;
      font-weight: bold;
      border-radius: 0; }
    #login-container table a {
      font-size: 1em;
      color: #0097ef;
      font-weight: bold; }
      #login-container table a:hover {
        color: #38b6ff; }

#main-menu {
  list-style: none;
  color: #fff;
  margin-top: 20px;
  padding: 0; }
  #main-menu a {
    color: #fff; }
  #main-menu li {
    height: 40px;
    line-height: 40px;
    width: 12.5%;
    background: #003b65;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    position: relative; }
    #main-menu li ul {
      position: absolute;
      display: none;
      width: 100%;
      background: #003b65;
      z-index: 500; }
      #main-menu li ul li {
        height: 25px;
        line-height: 25px;
        width: 90%;
        display: block;
        text-align: left;
        font-size: 0.8em;
        padding-left: 5%; }

/*# sourceMappingURL=style.css.map */
